html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

h1 {
  font-size: 64px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}

button {
  width: 140px;
}

#container {
  max-width: 600px;
  margin: 40px auto;
}

#btn {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

#result {
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#score, #round-result {
  height: 20%;
  margin: 20px;
}

#score {
  font-size: 80px;
  font-weight: 700;
}

#final-result {
  height: 100px;
  padding-top: 30px;
  font-size: 30px;
  font-weight: 700;
}

#reset-btn {
  display: block;
  margin: 30px auto auto auto;
}